@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Seu reset opcional */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #0f0f0f; /* fundo escuro */
  color: white;
}
